<script type="text/javascript">
  google.charts.load('current', {'packages':['timeline']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
    // dataTable.addColumn({ type: 'string', id: 'Term' });
    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
    dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': {html: true} });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    dataTable.addRows([
      <% @composers.each do |composer| %>
        <% if composer.is_active == true %>
        [
          '<%= composer.name_kana %>',
          null,
          '<span class="text-nowrap p-3"><%= "#{composer.year_of_birth} - #{composer.year_of_death}" %></span>',
          new Date(<%= composer.year_of_birth %>, 1, 1),
          new Date(<%= composer.year_of_death %>, 12, 31) ],
        <% end %>
      <% end %>
    ]);
    var options = {
      // timeline: { showRowLabels: false },
      // avoidOverlappingGridLines: false,
      // backgroundColor: '#ffd',
      colors: [
        <% @composers.each do |composer| %>
          <% case composer.year_of_birth %>
          <% when 1500..1709 %>
            '#ffbf7f',
          <% when 1710..1785 %>
            '#ff7fbf',
          <% when 1786..1812 %>
            '#bf7fff',
          <% when 1813..1880 %>
            '#7fbfff',
          <% when 1881..2021 %>
            '#7fffbf',
          <% else %>
            '#000',
          <% end %>
        <% end %>
      ]
    };
    chart.draw(dataTable, options);
  }
</script>
<div class="container">
  <div class='row'>
    <div class='col-lg-4 col-md-12 col-xs-12'>
    <h4 class="px-5 py-2 mt-5 ml-5" >作曲家年表</h4>
  </div>
  <!--凡例のスクロール固定表示-->
  <div class='row fixed-top mt-2' id='legend'>
    <div class='col-lg-8 offset-lg-4 col-md-12 col-xs-12'>
      <h6 class="text-md-nowrap text-right mr-3">
        <span class="bg-season1 px-2">バロック</span>
        <span class="bg-season2 px-2 br">古典派</span>
        <span class="bg-season3 px-2">初期ロマン派</span>
        <span class="bg-season4 px-2">後期ロマン派</span>
        <span class="bg-season5 px-2">近現代</span>
      </h6>
    </div>
  </div>
</div>
<!--グラフ描画-->
<div id="timeline" style="height: 3000px; width: 1000px;"></div>
<% breadcrumb :chronology %>
