<div class='container'>
  <div class="row justify-content-center">
    <h4 class="px-5 py-2 mt-5">作曲家一覧</h4>
    <div class='col-lg-6 mt-lg-5 col-xs-12 px-5 py-2 mr-1 text-right'>
      <%= link_to " 作曲家年表", chronology_composers_path, class: 'fas fa-chart-bar btn btn-outline-info btn-lg' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <span class='pagecolor'><%= paginate @composers %></span>
      <%= render partial: "index", :locals => { composers: @composers } %>
    </div>
  </div>
</div>