<div class='container'>
  <div class="row">
    <h4 class="px-5 py-2 mt-5 ml-5 bg-light text-dark">作曲家一覧</h4>
  </div>
  <div class='row'>
    <div class='col'>
      <span class='pagecolor'><%= paginate @composers %></span>
      <%= render partial: "index", :locals => { composers: @composers } %>
    </div>
  </div>
</div>