<div class='container'>

  <% if @musical_pieces.present? %>
    <div class="row justify-content-center">
      <h4 class="px-5 py-2 mt-5 text-dark">楽曲一覧</h4>
    </div>
    <div class='row'>
      <div class='col'>
    <span class='pagecolor'><%= paginate @musical_pieces %></span>
  <% else %>
    <div class='row'>
      <div class='col'>
  <% end %>
      <%= render partial: "index", :locals => { musical_pieces: @musical_pieces } %>
    </div>
  </div>
</div>
