<% if @model == 'composers' %>
    <h3 class='text-center'>"<%= @content %>"で作曲家について検索結果</h3>
    <%= render 'member/composers/index', composers: @records %>
<% else @model == 'musical_pieces' %>
    <h3 class='text-center'>"<%= @content %>"で楽曲について検索結果</h3>
    <%= render 'member/musical_pieces/index', musical_pieces: @records %>
<% end %>