<div class='container'>
  <div class='row'>
    <div class='col text-center'>
      <span class='display-1'>What’s VSPP?</span></br>
      <h1>
        あなたのその「なんとなく好き」「ここの部分好き」を言語化しませんか？</br>
        VSPPとは、</br>
        V...Verbalizing(言語化)</br>
        S...Sensibilities(感性)</br>
        about</br>
        P...piano(ピアノ)</br>
        P...pieces(楽曲)</br>
        の略で、ピアノ楽曲について感性を言語化することがテーマです。</br>
        </br>
        自分自身の記録用として使うも良し、新たに好きな曲を見つけるのも良し。</br>
        ぜひあなたにあった使い方を模索してみてください！
      </h1>
    </div>
  </div>
</div>