<div class="jumbotron h-100 about-img">
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-12 col-md-9 col-xs-9'>
        <section id="mv">
          <h1 class="mv-title">What’s VSPP?</h1>
          <p class="mv-text">
          「なんとなく好き」、<span class='br'></span>「ここの部分好き」を<span class='br'></span>言語化してみませんか？</br>
          VSPPは、</br>
          V...Verbalizing(言語化)</br>
          S...Sensibilities(感性)</br>
          about</br>
          P...piano(ピアノ)</br>
          P...pieces(楽曲)</br>
          の略で、ピアノ楽曲について<span class='br'></span>感性を言語化することがテーマです。</br>
          </br>
          自分自身の記録用として使うも良し、<span class='br'></span>新たに好きな曲を見つけるのも良し。</br>
          ぜひあなたにあった使い方を<span class='br'></span>模索してみてください！
          </p>
        </section>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-lg-12'>
        <section id="merit">
          <p class="mv-text text-center">
            会員登録をすると、<span class='br'></span>次のような機能が使えます
          </p>
          <div class="merit-group">
            <div class="merit col-xs-12">
              <i class="far fa-comments" aria-hidden="true"></i>
              <h3 class="merit-title">コメント機能</h3>
              <p class="merit-text text-center">
                コメントの閲覧および投稿ができます。<span class='br'></span>楽曲ごとのコメントだけではなく、<span class='br'></span>自分がフォローしているメンバーの<span class='br'></span>コメントが見られるタイムライン機能が<span class='br'></span>あります。
              </p>
            </div>
            <div class="merit col-xs-12">
              <i class="fas fa-list" aria-hidden="true"></i>
              <h3 class="merit-title">マイリスト機能</h3>
              <p class="merit-text text-center">
                楽曲をリスト管理できます。<span class='br'></span>リストは「いつか弾いてみたい」リスト、<span class='br'></span>「あとで聴きたい」リスト<span class='br'></span>というように複数作成できます。
              </p>
            </div>
            <div class="merit col-xs-12">
              <i class="fas fa-search" aria-hidden="true"></i>
              <h3 class="merit-title">検索機能</h3>
              <p class="merit-text text-center">
                楽曲や作曲家検索ができます。<span class='br'></span>楽曲検索結果でヒットしなかった<span class='br'></span>場合には、楽曲名を申請できます。<span class='br'></span>承認されるとコメントの投稿が<span class='br'></span>できるようになります。
              </p>
            </div>
          </div>
        </section>
        </div>
      </div>
    </div>
  </div>
  <% breadcrumb :about %>
