<div class='container'>
  <div class='row justify-content-center'>
    <div class="col-lg-12 col-md-10 col-xs-10 text-dark bg-infomation">
      <h3>ヘルプページ</h3>
      このページで問題が解決されない場合は、お問い合わせください<span class="br"></span>
      <i class="far fa-hand-point-right"></i><%= link_to " お問い合わせ", inquiry_path, method: :get, class: 'btn btn-outline-dark' %>
      <div>目次</div>
      <ul>
        <li>よくある質問</li>
        <li>相互フォローについて</li>
        <li>ダイレクトメッセージについて</li>
      </ul>

      <div>
        Q. 誰かをフォローすることで、何か良いことはありますか？<br>
        A. あります。タイムラインでは自分がフォローしているユーザのコメントだけが見られます。そして、相互フォローになるとダイレクトメッセージ機能が使えるようになります。
      </div>
      <div>
        自分がフォローしている利用者が自分をフォローしている状態を、相互フォローと定義します。
        相互フォローになると、ユーザ一覧、自分のフォロー、自分のフォロワー画面に
        相手のフォローステータスの横に<i class="fas fa-hands-helping"></i>のマークが付きます。
      </div>
      <div>
        他のユーザのページを見に行った際に、そのユーザが相互フォローの場合に、ダイレクトメッセージ機能(以下、DMとする)が使えます。
        そのユーザのフォロー中というボタンと一緒に<i class="far fa-envelope"></i>のマークがあると思います。
        このマークが無い場合は、そのユーザが自分をフォローしてもらわない限りマークは出てきません。
        あくまでも相互フォロー限定の機能となります。
        ダイレクトメッセージは、自分とそのユーザの2人だけのチャットルームが作られます。
      </div>
    </div>
  </div>
</div>