<div class="jumbotron h-100 top-img">
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-12 col-md-10 col-xs-10'>
        <section id="mv">
          当サイトVSPPは、ピアノ独奏曲のコメント投稿サイトです<br>
          <h1 class="mv-title">VSPP</h1>
          <p class="mv-text">
          感性を言語化しよう
          </p>
        <span class="pr-4"><%= link_to " About", home_about_path, method: :get, class: 'fas fa-question btn btn-lg btn-outline-dark' %></span>
        <span class="pl-4"><%= link_to " 新規登録", new_member_registration_path, class: 'fas fa-user-plus btn btn-lg btn-outline-dark' %></span>
        </section>
      </div>
    </div>
  </div>
</div>
