<div class="jumbotron h-100 top-img">
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-12 col-md-10 col-xs-10'>
        <section id="mv">
          当サイトVSPPは、ピアノ独奏曲の<span class="br"></span>コメント投稿サイトです<br>
          <h1 class="mv-title">VSPP</h1>
          <p class="mv-text">
          感性を言語化しよう
          </p>
          <span><%= link_to " About", home_about_path, class: 'fas fa-question btn btn-lg btn-outline-dark' %></span>
          <% if member_signed_in? %>
            <span><%= link_to " マイページ", my_page_members_path, class: 'fas fa-user btn btn-lg btn-outline-dark' %></span>
          <% else %>
            <span><%= link_to " 新規登録", new_member_registration_path, class: 'fas fa-user-plus btn btn-lg btn-outline-dark' %></span>
          <% end %>
        </section>
      </div>
      <div class='w-100'></div>
      <div class="col-lg-12 col-md-10 col-xs-10 bg-infomation pt-5 mt-5 text-dark">
        <h5>Information</h5>
        <ul>
          <li>このサイトはDMM WEBCAMPのポートフォリオ制作における成果物です</li>
          <li>楽曲データの追加申請にご協力お願いいたします</li>
        </ul>
      </div>
    </div>
  </div>
</div>
