<div class="jumbotron h-100 top-img">
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-10 col-md-10'>
        <div id="mv">
          <h1 class="mv-title">VSPP</h1>
          <p class="mv-text">
          当サイトVSPPは、ピアノ独奏曲のコメント投稿サイトです。</br>
          会員ではない方も楽曲・作曲家一覧は見れますが、</br>
          コメントの閲覧と投稿、楽曲・作曲家検索には会員登録が必要です。
          </p>

          <div class="table-responsive">
            <table class='table table-bordered bg-transparent text-nowrap text-center'>
              <thead>
                <tr>
                  <th class='bg-secondary'></th>
                  <td>楽曲/作曲家一覧</td>
                  <td>楽曲/作曲家検索</td>
                  <td>楽曲/作曲家詳細</td>
                  <td>コメント閲覧</td>
                  <td>コメント投稿</td>
                  <td>マイリスト機能</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class='bg-secondary'>ログイン前</th>
                  <td>o</td>
                  <td>x</td>
                  <td>x</td>
                  <td>x</td>
                  <td>x</td>
                  <td>x</td>
                </tr>
                <tr>
                  <th class='bg-secondary'>ログイン</th>
                  <td>o</td>
                  <td>o</td>
                  <td>o</td>
                  <td>o</td>
                  <td>o</td>
                  <td>o</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
      </div>
    </div>
  </div>
</div>