<div class='container'>
    <div class='row mb-5'>
        <div class='col-12'>
            <!--<div class="jumbotron h-100" style="color:#FFF; background:url(6.jpg); background-size:cover;">-->
                <!--background-image:url(https://www.pakutaso.com/shared/img/thumb/PED_oomurozannosancyou_TP_V.jpg);-->
                <!--<h1 class="display-4">幅一杯にジャンボトロン</h1>-->
                <p class="lead">
                    ようこそ、VSPPへ！</br>
                    当サイトVSPPは、ピアノ独奏曲の感想投稿サイトです。</br>
                    会員ではない方も楽曲・作曲家検索はできますが、</br>
                    感想の投稿には会員登録が必要です。
                </p>
            <!--</div>-->
        </div>
    </div>
    <div class='row my-5'>
        <div class='col'>
        </div>
    </div>
    <div class='row mt-5'>
        <div class='col-10 offset-1'>
        </div>
    </div>
</div>