<% notifications = @notifications.where.not(visitor_id: current_member.id) %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 pt-2">
      <% if notifications.exists? %>
        <%= render notifications %>
      <% else %>
        <div class="pc">
          <h5 class="text-center pt-5">通知はありません</h5>
        </div>
        <div class="smp">
          <p class="text-center pt-3">通知はありません</p>
        </div>
      <% end %>
    </div>
  </div>
</div>