/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// ページネーションアレンジ(ベースはkaminari+bootstrap)
.pagination {
  justify-content: center;
}
.pagecolor .pagination>li>a,
.pagecolor .pagination>li>span {
  border: 1px solid black;
  color: black;
}
.pagecolor .pagination>li.active>a {
  border: 1px solid black;
  background: black;
  color: #fff;
}
// レスポンス対応で表の横スクロール
.table th:first-child{
  position: sticky;
  left: 0;
}
// footerアレンジ
footer {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgb( 255, 232, 209);
}

.footer-text {
  color: black;
}
// TOP画面メインビジュアル
#mv {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba( 255, 232, 209, 0.55 );
  color: black;
}
.mv-title {
  padding-top: 120px;
  font-family: 'Poiret One', cursive;
  font-size: 100px;
}
.mv-text {
  padding-top: 10px;
  font-size: 20px;
}

.top-img {
  color:#FFF!important;
  background: image-url("adtDSC_2415.jpg")!important;
  background-size: contain!important;
  background-position: center!important;
  background-repeat: repeat!important;
}