/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// ページネーションアレンジ(ベースはkaminari+bootstrap)
.pagination {
  justify-content: center;
}
.pagecolor .pagination>li>a,
.pagecolor .pagination>li>span {
  border: 1px solid black;
  color: black;
}
.pagecolor .pagination>li.active>a {
  border: 1px solid black;
  background: black;
  color: #fff;
}
// レスポンス対応で表の横スクロール
.table th:first-child{
  position: sticky;
  left: 0;
}
// footerアレンジ
footer {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgb( 255, 232, 209);
}

.footer-text {
  color: black;
}
// TOP画面メインビジュアル
#mv {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba( 255, 232, 209, 0.55 );
  color: black;
}
.mv-title {
  padding-top: 120px;
  font-family: 'Poiret One', cursive;
  font-size: 100px;
}
.mv-text {
  padding-top: 10px;
  font-size: 20px;
}

// TOP画像ActiveStorage使用
.top-img {
  color:#FFF!important;
  background: image-url("adtDSC_2415.jpg")!important;
  background-size: contain!important;
  background-position: center!important;
  background-repeat: repeat!important;
}

// 「ログインしました」などのフラッシュ用スタイル
// flashメッセージでbootstrapを適応後、deviseのフラッシュメッセージに色がついていなかったため、適応確認済みのスタイルを継承させた
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-danger;
}

// 表のソートマークのデザイン
.tablesorter-headerUnSorted {
    background: image-url('icons8-sort-16.png');
    background-repeat: no-repeat;
    background-position: center right;
}
.tablesorter-headerAsc {
    background: image-url('icons8-sort-up-16.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #000 2px solid;
}
.tablesorter-headerDesc {
    background: image-url('icons8-sort-down-16.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #000 2px solid;
}
.display-none {
  display: none;
}
//シンプルカレンダーアレンジ
.simple-calendar .today {
  background: #ffefd5;
}
.calendar-text-mini {
  font-size: 12px;
}
/* line 2, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

/* line 13, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar tr {
  border-collapse: collapse;
}

/* line 17, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: left;
}

/* line 28, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #000;
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 1px;
}

/* line 48, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .day {
  height: 70px;
}

/* line 69, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .prev-month {
  background: #dcdcdc;
}

/* line 72, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .next-month {
  background: #dcdcdc;
}