/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// 見出しアレンジ
h4 {
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  position: relative;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}

h4:before,
h4:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

h4:before {
  top: 0;
}
h4:after {
  bottom: 0;
}
// ドロップダウンデフォルトのアレンジ
.dropdown-menu {
  text-align: center;
  background-color: #fff7ef!important;
}
// headerの分下げ、footerの分上げる
#wrap {
  padding-top: 80px;
  padding-bottom: 32px;
}

// ページネーションアレンジ(ベースはkaminari+bootstrap)
.pagination {
  justify-content: center;
}
.pagecolor .pagination>li>a,
.pagecolor .pagination>li>span {
  border: 1px solid black;
  color: black;
}
.pagecolor .pagination>li.active>a {
  border: 1px solid black;
  background: black;
  color: #fff;
}
// レスポンス対応で表の横スクロール
.fixed01,
.fixed02 {
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  background: #fff;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.fixed01 {
  z-index: 2;
}
.fixed02 {
  z-index: 1;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: rgb( 255, 232, 209);
}
.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 32px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.footer-text {
  color: black;
}

/* =====================
  TOP画面アレンジ
===================== */
// TOP画面メインビジュアル
#mv {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba( 255, 232, 209, 0.75 );
  color: black;
}
.mv-title {
  padding-top: 100px;
  font-family: 'Poiret One', cursive;
  font-size: 100px;
}
.mv-text {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;
}
// TOP画像ActiveStorage使用
.top-img {
  color:#FFF!important;
  background: image-url("piano-3360423_1280.png")!important;
  background-size: contain!important;
  background-position: center!important;
  background-repeat: repeat!important;
  border-radius: 0!important; // for jumbotron
}
/* =====================
  ABOUT画面アレンジ
===================== */
// ABOUT画像ActiveStorage使用
.about-img {
  color:#FFF!important;
  background: image-url("IMG_1700.jpeg")!important;
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  border-radius: 0!important; // for jumbotron
}
// ABOUT画面下部
#merit {
  background-size: cover;
  background-position: center;
  background-color: rgba( 255, 232, 209, 0.75 );
  color: black;
}

.merit-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.merit {
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}
.merit:last-child {
  margin-right: 0;
}
.merit-title {
  padding: 10px 0;
  font-size: 20px;
}
.merit-text {
  text-align: left;
  font-size: 16px;
}


// 「ログインしました」などのフラッシュ用スタイル
// flashメッセージでbootstrapを適応後、deviseのフラッシュメッセージに色がついていなかったため、適応確認済みのスタイルを継承させた
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-danger;
}

// 表のソートマークのデザイン
.tablesorter-headerUnSorted {
    background: image-url('icons8-sort-16.png');
    background-repeat: no-repeat;
    background-position: center right;
}
.tablesorter-headerAsc {
    background: image-url('icons8-sort-up-16.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #000 2px solid;
}
.tablesorter-headerDesc {
    background: image-url('icons8-sort-down-16.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #000 2px solid;
}
.display-none {
  display: none;
}
/* ==========================
  シンプルカレンダーアレンジ（上書き）
========================== */
.simple-calendar .today {
  background: #e6e6fa;
}
.calendar-text-mini {
  font-size: 12px;
}
/* line 2, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
/* line 13, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar tr {
  border-collapse: collapse;
}
/* line 17, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: center;
}
.simple-calendar th:nth-child(6) {
  color: #adadff;
}
.simple-calendar th:last-child {
  color: #ffadad;
}

/* line 28, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #000;
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 1px;
}
/* line 48, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .day {
  height: 70px;
}
/* line 69, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .prev-month {
  background: #dcdcdc;
}
/* line 72, ../../.rvm/gems/ruby-2.6.3/gems/simple_calendar-2.4.3/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .next-month {
  background: #dcdcdc;
}
/* =====================
  背景色アレンジ
===================== */
// TOPのInfomation背景
.bg-infomation {
  background-color: rgba( 255, 232, 209, 0.75 );
}
// シンプルカレンダー内背景色独自クラス
.bg-kusa1 {
  background: #c6e48b;
}
.bg-kusa2 {
  background: #7bc96f;
}
.bg-kusa3 {
  background: #239a3b;
}
// グラフ凡例背景色独自クラス
.bg-season1 {
  background: #ffbf7f;
}
.bg-season2 {
  background: #ff7fbf;
}
.bg-season3 {
  background: #bf7fff;
}
.bg-season4 {
  background: #7fbfff;
}
.bg-season5 {
  background: #7fffbf;
}
// header背景色独自クラス
.bg-header {
  background: #fff7ef;
}
// レスポンシブ対応の改行用
@media screen and (max-width: 767.98px) {
.br::after {
	content: "\A";
	white-space: pre;
}
}
// 作曲家年表凡例表示順
#legend {
  top: 80px;
  z-index: 1;
}
/* =====================
  DM関連
===================== */
// DMトップ
#dm-title {
  top: 78px;
  background: #ffffff;
  z-index: 1;
}
// DMのメッセージフォーム
#dm-form {
  text-align: center;
  display: inline-block;
  // bottom: 32px;
  background: #ffffff;
  z-index: 1;
}
// メッセージのふきだし
.balloon-right {
  position: relative;
  display: inline-block;
  margin: 10px 15px 0 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  // color: #555;
  font-size: 16px;
  background: #e0edff;
  // border-radius: 15px;
}
.balloon-right:before {
  content: "";
  position: absolute;
  // topとleftで吹き出す位置指定
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-left: 10px solid #e0edff;
}
.balloon-right p {
  margin: 0;
  padding: 0;
}
.balloon-left {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  // color: #555;
  font-size: 16px;
  background: #fff7ef;
  // border-radius: 15px;
}

.balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #fff7ef;
}

.balloon-left p {
  margin: 0;
  padding: 0;
}

// ドロップダウン逆三角非表示
.dropdown-toggle::after {
  font-size: 0px; // 0pxで強制非表示
}
// ハンバーガーメニューアレンジ
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  position: relative;
}
.navbar-light .navbar-toggler-icon {
  background-image:none; /* この行で背景画像を無効化 */
  background-color: #000;
  width: 30px;
  height: 2px;
  display: block;
  position: absolute;
  transition: ease .5s;
}

/* 3本のバーそれぞれの座標を設定 */
.navbar-toggler-icon:nth-of-type(1) {top:7px;}
.navbar-toggler-icon:nth-of-type(2) {top:14px;}
.navbar-toggler-icon:nth-of-type(3) {top:21px;}

/* メニューが開いている時の　3本のバーそれぞれの座標および角度を設定 */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(1) {
top:13px;
transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(2) {
opacity: 0;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(3) {
top:13px;
transform: rotate(-45deg);
}
// いいねのハートの色（パステルカラー）
.heart_blue {
  color:#7f7fff;
}
.heart_red {
  color:#ff7f7f;
}
// bootstrapボタン内文字折り返し
.btn {
  // ソース中の連続する半角スペース、タブ、改行を一つの半角スペースにまとめ、自動的に折り返しをして表示
  white-space: normal;
}
// マイページ変更画面のフォーム
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}
// ratyの星サイズ
.musical_piece-evaluation img{
  width: 20px;
}